:root {
    --text-color: #6C55A3;
}


.header-background {
    height: 100vh;
    background-image: url("../public/images/header-background.png");
    background-position: bottom;
    background-size: cover;
    border: 2px solid black;
}
 
#container {
    width: 75%;
    margin: auto;
} 